[submodule "debian/modules/ngx_http_geoip2_module"]
	path = debian/modules/ngx_http_geoip2_module
	url = https://github.com/leev/ngx_http_geoip2_module.git
[submodule "debian/modules/lua-nginx-module"]
	path = debian/modules/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module.git
[submodule "debian/modules/headers-more-nginx-module"]
	path = debian/modules/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git
[submodule "debian/modules/ngx_devel_kit"]
	path = debian/modules/ngx_devel_kit
	url = https://github.com/simpl/ngx_devel_kit.git
[submodule "debian/modules/echo-nginx-module"]
	path = debian/modules/echo-nginx-module
	url = https://github.com/openresty/echo-nginx-module.git
[submodule "debian/modules/nginx-upstream-fair"]
	path = debian/modules/nginx-upstream-fair
	url = https://github.com/gnosek/nginx-upstream-fair.git
[submodule "debian/modules/nginx_http_push_module"]
	path = debian/modules/nginx_http_push_module
	url = https://github.com/slact/nginx_http_push_module.git
[submodule "debian/modules/nginx-upload-progress-module"]
	path = debian/modules/nginx-upload-progress-module
	url = https://github.com/masterzen/nginx-upload-progress-module.git
[submodule "debian/modules/ngx_cache_purge"]
	path = debian/modules/ngx_cache_purge
	url = https://github.com/FRiCKLE/ngx_cache_purge.git
[submodule "debian/modules/nginx-dav-ext-module"]
	path = debian/modules/nginx-dav-ext-module
	url = https://github.com/arut/nginx-dav-ext-module.git
[submodule "debian/modules/ngx-fancyindex"]
	path = debian/modules/ngx-fancyindex
	url = https://github.com/aperezdc/ngx-fancyindex.git
[submodule "debian/modules/ngx_http_substitutions_filter_module"]
	path = debian/modules/ngx_http_substitutions_filter_module
	url = https://github.com/yaoweibin/ngx_http_substitutions_filter_module.git
[submodule "debian/modules/mod_zip"]
	path = debian/modules/mod_zip
	url = https://github.com/evanmiller/mod_zip.git
